.list_item {
    margin-bottom: .5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}

.list_item > div {
    width: 75%;
}

.btn_update {
    margin-right: 10px;
}
